* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
    list-style: none;


}

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');


header {
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #fff;
    color: #282c3f;
}

.mega {
    width: 1100px;
    height: 550px;

    position: absolute;
    top: 50px;
    left: 4%;
    font-size: 12px;
    color: #282c3f;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: space-around;
    font-weight: 400;


}

.menpage:hover .mega {
    visibility: visible;
    opacity: 1;
}


.mega hr {
    width: 185px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.mega li {
    margin-top: 7px;
}

.mega h1 {
    font-size: 12px;
    color: #ee5f73;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    height: 39px;
    width: 190px;
}



.menu {
    width: 1100px;
    height: 550px;


    position: absolute;
    top: 50px;
    left: 4%;
    font-size: 12px;
    color: #282c3f;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: space-around;
    font-weight: 400;


}

.womenspage:hover .menu {
    visibility: visible;
    opacity: 1;
}


.menu hr {
    width: 185px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu li {
    margin-top: 7px;
}

.menu h1 {
    font-size: 11px;
    color: #fb56c1;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.kidmenu {
    width: 1100px;
    height: 550px;

    position: absolute;
    top: 50px;
    left: 4%;
    font-size: 12px;
    color: #282c3f;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: space-around;
    font-weight: 400;


}

.kidspage:hover .kidmenu {
    visibility: visible;
    opacity: 1;
}


.kidmenu hr {
    width: 185px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.kidmenu li {
    margin-top: 7px;
}

.kidmenu h1 {
    font-size: 12px;
    color: #f26a10;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.homemenu {
    width: 1100px;
    height: 550px;

    position: absolute;
    top: 50px;
    left: 4%;
    font-size: 12px;
    color: #282c3f;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: space-around;
    font-weight: 400;


}

.homepage:hover .homemenu {
    visibility: visible;
    opacity: 1;
}


.homemenu hr {
    width: 185px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.homemenu li {
    margin-top: 7px;
}

.homemenu h1 {
    font-size: 12px;
    color: #f2c210;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.beautymenu {
    width: 1100px;
    height: 550px;

    position: absolute;
    top: 50px;
    left: 4%;
    font-size: 12px;
    color: #282c3f;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: space-around;
    font-weight: 400;


}

.beautypage:hover .beautymenu {
    visibility: visible;
    opacity: 1;
}


.beautymenu hr {
    width: 185px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.beautymenu li {
    margin-top: 7px;
}

.beautymenu h1 {
    font-size: 12px;
    color: #0db7af;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    height: 39px;
    width: 190px;
}

.studiomenu {
    width: 600px;
    height: 500px;

    position: absolute;
    top: 50px;
    left: 200px;
    font-size: 12px;
    color: #282c3f;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    font-weight: 400;


}

.imgstudio {
    width: 450px;
    height: 50px;
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.textstudio {
    width: 450px;
    height: auto;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; margin-bottom: 30px;
}

.studiopage:hover .studiomenu {
    visibility: visible;
    opacity: 1;
}

.virat {
    width: 514px;
    height: 274px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
   
    margin: auto;
}

.explore {
    width: 195px;
    height: 42PX;
    border: 1px solid grey;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center; font-size: 14px; font-weight: 700;
}
.explore i{ margin-left: 20px;}








.logo {
    background-image: url(img.myntra/MyntraWebSprite_27_01_2021.png);
    width: 53px;
    height: 36px;
    background-size: 1404px 105px;
    background-position: -462px 0;
    margin-left: 50px;


}

a {
    color: #282c3f;
    text-decoration: none;

}

.studio {
    position: relative;
}

.new {
    color: #ff3f6c;
    width: 20px;
    height: 13px;
    position: absolute;
    top: -1px;
    left: 505px;
    font-size: 8px;
}

nav {
    width: 515px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    text-transform: uppercase;
    color: #282c3f;
    letter-spacing: .3px;
    font-weight: 600;
    margin-left: 15px;
    position: relative;

}

.input-box {
    width: 320px;
    height: 40px;
    border-radius: 4px;
    background-color: #f5f5f6;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #696e79;
    margin-left: 90px;
    flex-grow: 1;
}

.input-box input {
    flex-grow: 1;
    border: none;
    background: transparent;
    margin-left: 15px;
}

.input-box input:focus {
    outline: none;
}

.input-box i {
    margin-left: 15px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 30px 0 10px;
    flex-grow: 1;


}

.headleft {
    margin-left: 40px;
}


.profile i {
    margin-left: 10px;
}

.user {
    margin-left: -0.5px;
    font-weight: 700;
    font-size: 12px;
    margin-top: 2px;

}

.wishlist {
    margin-left: -2.5px;
    font-weight: 700;
    font-size: 12px;
    margin-top: 2px;
}

.bag {
    margin-left: 6.5px;
    font-weight: 700;
    font-size: 12px;
    margin-top: 2px;
}

.flatoff {
    width: auto;
    height: 80px;
}

.flatoff1 {
    width: auto;
    height: 80px;
    margin-top: 20PX;

}

.banner {
    width: auto;
    display: flex;
}

.kiara {
    height: 400px;
    width: 100%;

}

.srk {
    height: 400px;
    width: 100%;

}

.sponsor {
    width: 100%;
    height: auto;
}

.imgsponsor {
    width: 100%;
    ;
    height: 54px;
}

.imgcoupons {
    height: auto;
    width: 100%;
}

.flat {
    height: auto;
    width: 100%;
    display: flex
}

.flat100 {
    height: auto;
    width: 100%;
}

.flat200 {
    height: auto;
    width: 100%;
}

.imgomg {
    height: auto;
    width: 100%;
}

.mid {
    height: auto;
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.midimg {
    height: auto;
    width: 16.6%;
}

.shop {
    height: auto;
    width: 100%;
    margin-top: 40px;
}

.shopimg {
    height: auto;
    width: 100%;
}

.multy {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.mimg {
    width: 10%;
    margin-bottom: 30px;
}

.app {
    margin-top: 70px;
}

.imgapp {
    width: 100%;
    height: auto;
    margin-top: 70px;
}


.bottom {
    width: 100%;
    height: 425px;
    background-color: #fafbfc;
    padding-top: 20px;

    display: flex;
    margin-top: 50PX;
}

.topbottom {
    height: 425px;
    width: 190px;
    margin-left: 100px;



}

.topleft {
    width: 175px;
    height: 212px;

    padding-left: 30px;


}

.topleft h5 {
    padding-bottom: 10px;
}


.tl {
    width: 155px;
    height: 24;
    float: left;
    margin: 5px 20px 5px 1px;
    color: #696b79;
}

.topleftb {
    width: 175px;
    height: 212px;

    padding-left: 30px;
    padding-top: 20px;


}

.topleftb a {
    width: 155px;
    height: 24;
    float: left;
    margin: 5px 20px 5px 1px;
    color: #696b79;
}

.topleftb h5 {
    padding-bottom: 10px;
}

.fix {
    width: 38px;
    height: 38px;
    border: 1px solid rgb(0, 174, 255);
    background-color: rgb(0, 174, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 539px;
    right: 25px;
}

.fixbox {
    bottom: 130px;
    height: 44px;
    width: 288px;
    background-color: #535766;
    position: fixed;
    top: 355px;
    right: -120px;
  color: white;
}

.fixtext {
    width: 36px;
    padding: 4px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.fixnew {
    width: 37px;
    font-size: 12px;
    color: #fff;
    background-color: rgba(255, 179, 0, 1);
    position: fixed;
    top: 527px;
    right: 0px;
    font-weight: 700;
    text-align: center;
}

.topmid {
    width: 147px;
    height: 293px;
    margin-left: 30px;


}

.topmid a {
    width: 147px;
    height: auto;
    float: left;
    padding-top: 10px;
    color: #696b79;
}

.topmid h5 {
    padding-bottom: 5px;
}

.appexp {
    width: 380px;
    height: 175px;
    margin-left: 50PX;

}

.dowimg {
    width: 140px;
    height: 42px;
    margin-top: 10px;
    float: left;
}

.dowimg2 {
    width: 140px;
    height: 42px;
    margin-top: 10px;
    float: right;
    margin: 10px 90px 0px 0px;
}

.keepin {
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 66px;
}

.appexp a {
    height: 23px;
    width: 23px;
    padding-right: 7px;
}

.topright {
    width: 290px;
    height: 160px;
    margin-top: 10px;
}

.original {
    display: flex;
}

.wti {
    display: flex;
    margin-top: 20px;
}

.wti img {
    padding-bottom: 10px;
    padding-right: 5px;
}

.p {
    width: 1230PX;
    height: 130px;
    background-color: #fafbfc;
    padding-left: 55px;
    margin-left: 75px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.p a {
    padding-top: 45px;
}

.h5 {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 145PX; 
}

.bb {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.in {
    margin-right: 80px;
}

.flipkart {
    margin-right: 80px;
}

.www {
    margin-right: 80px;
}
